h1{
    text-shadow: -2px -2px 2px rgb(0, 221, 255), 2px 2px 2px red;
}
h2{
    text-shadow: 1px 1px 1px red;
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(200, 255, 0);
    box-shadow: 3px 3px 5px;
}