.pagination{
    text-align: center;
}
.pagination a{
    text-decoration: none;
    display: inline-block;
    padding: 8px 15px;
    color: black;
}
.pagination a.Active{
    background-color: aquamarine;
    border-radius: 10px;
    font-weight: bold;
}
.pagination a:hover:not(.Active){
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
}